body{font-size:12px; font-family: 'Microsoft Yahei','SimSun',sans-serif;overflow-x:hidden; color:#333;background:#fff;}
input,textarea{font-size:100%;border:0;padding:0;background:none;outline:none;font-family:'Microsoft Yahei';}
body,h1,h2,h3,h4,p,ul,ol,dd,dl,form{margin:0;padding:0;font-weight:normal;}
ul{padding-left:0;list-style-type:none;}
a{text-decoration:none;outline:none;color:#666;cursor:pointer;}
a:hover{color:#b32c27;}
img{border:0;vertical-align:top;}
i,s,em,u{font-style:normal;text-decoration:none;}
*html{background-image:url(about:blank);background-attachment:fixed;}/**解决ie6中的颤动效果**/
.fix:before,.fix:after{content:"";display:table;}
.fix{*zoom:1;}
.fix:after{clear:both;}
.l{float:left;}
.r{float:right;}
.w1200{ width:1200px; margin:0px auto;}
.clear{clear: both}